.discount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);
  margin-top: 76px;
  color: white;
  height: 476px;
  // @include medium-screen {
  //   grid-template-columns: 1fr;
  //   gap: 30px;
  // }
  .discount__form {
    &__h1 {
      font-size: 80px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 108px */
      letter-spacing: 2.7px;
    }
    &__h2 {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 1.5px;
    }
    &__form{
      display: flex;
    }
    &__input{
      border: none;
      border-radius: 15.147px;
      padding: 16px 40px;
    }
  }
}
