.filtration{
    margin-bottom: 20px;
}

.filtration__from-to{
    padding: 10px 15px;
    margin-left: 15px;
}
.filtration__title{
    margin-left: 10px ;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 600;
}
.filtration__title-price{
    margin-left: 31px;
    font-size: 20px;
    font-weight: 600;
}
.filtration__checkbox{
//  padding: 40px;
 margin: 10px;
}