@import "../App.scss";
@import "./mixins";

.footer-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin: 50px 0 30px 0;
  }
  .telephone {
    margin-left: 32px;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }
  .footer-icon {
    display: flex;
    margin: 30px 0 47px 32px;
    gap: 63px;
  }

  a {
    margin-top: 25px;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
    text-decoration-line: underline;
    color: $clr-black;
  }

  .hours {
    margin-top: 20px;
    font-size: 18px;

    font-weight: 500;
  }
  .day {
    margin-top: 2px;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
  }
}


