@import "../App.scss";
.clr {
  color: $clr-white;
  font-weight: 700;
  line-height: 130%;

}
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $clr-blue;
  margin-top: 76px;
  @include medium-screen {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 70px;
    justify-items: center;
    text-align: center;
  }
  @include small-screen {
    // margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
  @include x-small {
    // margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  &__title {
    color: $clr-white;
    @include small-screen {
      text-align: center;
    }
    & h1 {
      font-size: 80px;
      margin: 200px 0 80px 60px;
      @include medium-screen {
        margin: 200px 0 0 0;
      }
      @include small-screen {
        margin: 150px 0 0 0;
      }
      @include x-small {
        margin: 80px ;
      }
    }
    & h2 {
      font-size: 63px;
      margin: 0 0 100px 60px;
      @include medium-screen {
        margin: 80px 0 0 0;
      }
      @include small-screen {
        margin: 80px 0 0 0;
      }
      @include x-small {
        margin: 10px;
        font-size: 55px;
        gap: 10px;
        
      }
    }
  }
  .bg {
    background-color: $clr-blue;
  }
  .hero-btn {
    padding: 25px 50px;
    margin-left: 60px;
    font-weight: 700;
    line-height: 130%;
    border: none;
    border-radius: 13px;
    font-size: 25px;
    background-color: $clr-white;
    @include medium-screen {
      margin: 80px 0 0 0;
    }
    @include small-screen {
      margin: 60px 0 0 0;
    }
  }

  &__img {
    width: 100%;

    @include big-screen {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    @include medium-screen {
      // height: 800px;
      height: 100%;
      // width: 700px;
      width: 100%;
      object-fit: cover;
    }
    @include small-screen {
      // width: 600px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    @include x-small {
      // height: 650px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

