@import "../App.scss";
@import "./mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  height: 72px;
  padding: 0 28px;
  background-color: $clr-white;

  @include medium-screen {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
.active {
  color: $clr-secondary;
  font-weight: 800;
}

.navbar-clear-btn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: $clr-black;
  background-color: transparent;
  &:hover {
    color: $clr-primary;
  }
}
.header-btn {
  margin-top: 2px;
  color: $clr-white;
  background-color: $clr-primary;
  margin-left: 50px;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid $clr-primary;
  font-size: 16px;
  font-weight: 700;
}

.links {
  margin: 0 30px;
  @include medium-screen {
    margin: 0 15px;
  }

  @include x-small {
    margin: 0 9px;
  }
}
.header__logo-btn {
  display: flex;
  align-items: center;
}

.header__links-basket {
  display: flex;
  gap: 173px;
  align-items: center;
  @include big-screen {
    gap: 140px;
  }
  @include medium-screen {
    margin-top: 70px;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 48px;
  }
  @include small-screen {
    margin-left: -150px;
  }
  @include x-small {
    margin-left: -250px;
  }
}
