@import "../App.scss";
.product {
  // display: grid;
  // grid-template-columns: repeat(1fr, 4);
  // position: absolute;
  width: 300px;
  height: 423px;
  margin: 10px 10px 44px 15px;
  background-color: $clr-white;
  // overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  overflow: hidden;
  position: relative;

  .product__title {
    text-align: center;
    // margin-left: 12px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #3a3a3a;
    
  }
  &:hover {
    outline: 2px solid lighten($clr-primary, 10%);
    outline-offset: 1px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }

  &__img {
    width: 300px;
    border-radius: 6px;
    height: 300px;
    display: block;
    object-fit: cover;
    transition: transform 400ms ease-out;
  }
  .product__addToCart {
    opacity: 0;
    font-size: 18px;
    font-weight: 600;
    color: $clr-primary;
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 50%;
    width: 279px;
    height: 72px;
    transform: translate(-50%, 450%);
    transition: 0.3s ease-out;
    display: flex;
    border-radius: 21px;
    border: 2px solid #393;
    background: #f1fff1;
  }

  &__price_container {
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__price {
   
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    line-height: 130%; /* 39px */
    letter-spacing: 0.9px;
    text-align: center;
  }
  &__disc_price {
    font-size: 20px;
    color: #8b8b8b;
    text-decoration-line: line-through;
  }
  &__disc_percent {
    font-size: 15px;
    color: #ff32a1;
  }
}

.product:hover .product__addToCart {
  transform: translate(-50%, -50%);
  opacity: 1;
  padding: 25px 88px;

  cursor: pointer;
}
.product__addToCart:active  {
  color: $clr-white;
  background: $clr-primary;
}
.product__img:hover,
.product__addToCart:hover + .product__img {
  transform: scale(1.08);
  filter: brightness(60%);
  transition: 0.3s ease-out;
}
